<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Maker</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<body>
    

    

<div class="data">

    <% for (listItem of list) { %>
        
        <p></p><%= "-" + listItem %></p>

    <% } %>

</div>





<center>


    <form action="/" method="post">
        <input type="text" placeholder="New List Item" name="item" autofocus onfocus="this.select()">
        <br>
        <input type="submit" value="Submit">
    </form>

    <input type="submit" value="Clear List" onclick="clearList">


</center>

<script src="main.js"></script>


</body>
</html>